@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap%22");

@font-face {
  font-family: "Star Wars";
  src: url("fonts/StarJedi.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  background: url(/img/star\ uó\ topo.png) center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 77vh;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.KyloRenImagem {
  width: 59vw;
  position: absolute;
  z-index: 1;
  left: 46%;
  transform: translate(-50%);
}

.star {
  width: 20vw;
  position: absolute;
  left: 23.6%;
  top: 55%;
}

.star img {
  width: 100%;
}

.wars {
  width: 20vw;
  position: absolute;
  top: 55%;
  right: 17.6vw;
}

.wars img {
  width: 100%;
}

/* BOX: CRIE SUA LEGIÃO */
.crieSuaLegiao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 69.77px;
  transform: scale(1.5);
  position: absolute;
  right: 320px;
  bottom: 41px;
}

.crieSuaLegiao h2 {
  font-weight: 400;
  font-size: 0.7rem;
}

.crieSuaLegiao span {
  font-weight: 700;
}

.line {
  height: 1px;
  border-radius: 10px;
  background-color: black;
}

.legiaoButton {
  display: flex;
  align-items: center;
}

.legiaoButton p:first-child {
  font-size: 0.7rem;
}

.legiaoButton p:nth-child(2) {
  font-size: 0.5rem;
}

.legiaoButton span {
  font-size: 0.5rem;
  background-color: #a9bdc1;
}

/* MAIN PARTE 1 */

.BackgroundBrancoDaMain {
  background-image: url(/img/sta\ uo\ robot@2x.png);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}

.SectionDaMain {
  display: flex;
  justify-content: space-between;
  padding: 0 16.375vw;
  align-items: flex-end;
}

/* COMECE A JOGAR */

.ComeceAjogar {
  background: url(/img/strom\ trupe\ red@2x.png) no-repeat center top;
  background-size: cover;
  width: 20.68vw;
  height: 30vw;
  padding: 5% 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
  color: white;
  position: relative;
  top: -2.5vw;
  z-index: 1;
}

.ComeceAjogar h2 {
  width: 50%;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.ComeceAjogar p:nth-child(2) {
  width: 100%;
  text-align: justify;
}

.ComeceAjogar p:last-child {
  position: relative;
  top: -12%;
  right: -25%;
  font-size: 0.5rem;
  opacity: 0.5;
}

.ComeceAjogar button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2% 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.ComeceAjogar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.2);
  backdrop-filter: blur(1px);
}

/* SOBRE O JOGO */

.SobreOjogo {
  display: flex;
  width: 60%;
  padding-bottom: 2.4vw;
}

.SobreOjogo img {
  width: 24vw;
  height: 13vw;
  padding-left: 1vw;
}

.TituloContaner {
  text-align: right;
}

.LinhaComTitulo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.LinhaComTitulo h2 {
  padding-bottom: 1vw;
}

.LinhaComTitulo p {
  padding-top: 1vw;
  font-size: 1.125rem;
  width: 26vw;
}

.lineSobreOjogo {
  height: 2.5px;
  width: 34.5%;
  border-radius: 10px;
  background-color: black;
}

/* SEGUNDA PARTE DA MAIN */

.LineDivisaoDaMain {
  height: 4.5px;
  width: 75%;
  background-color: #707070;
  position: relative;
  left: 267px;
  top: 45px;
}

.EstruturaContainer {
  display: flex;
  justify-content: center;
}

.DarthMaul img {
  width: 40vw;
  height: auto;
  position: relative;
  top: 52px;
  left: 117px;
}

.listaComTitulo {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 4.25vw;
  top: 129px;
}

.listaComTitulo ul {
  font-size: 1.5rem;
  gap: 1.25vw;
}

.listaComTitulo ul li {
  list-style-type: none;
  width: 450px;
  text-align: end;
  padding-right: 10px;
}

.listaComTitulo ul li:hover {
  cursor: pointer;
  background-color: #d74430;
  border: solid none;
  color: white;
}

.TituloDaLista,
.listaComTitulo ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TituloDaLista {
  font-size: 2.1875rem;
  padding-bottom: 1.5vw;
}

.TituloDaLista h2 {
  line-height: 1;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.TituloDaLista h2 span {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.ReyNonSkywalker img {
  width: 20.5vw;
  height: auto;
  position: relative;
  top: 75px;
}

/* FAZENDO A PARTE ATRIBUTOS E HIERARQUIA*/

.atributos {
  background-color: #2d2d2d;
  padding-top: 120px;
}

.AtributosContainer {
  display: flex;
  justify-content: center;
}

.TituloAtributos h2 {
  display: flex;
  justify-content: center;
  font-size: 33px;
  color: white;
  position: relative;
  right: 425px;
  padding-bottom: 42px;
}

.PrimeiraImagem {
  width: 40.2vw;
  position: relative;
}

.ImagemUm {
  width: 100%;
}

.SegundaTerceiraImagem img,
.QuartaQuintaImagem img {
  display: flex;
  flex-direction: column;
}

.Hierarquia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hierarquia h2 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 7vw;
  padding-bottom: 8vw;
}

.HierarquiaContainer {
  display: flex;
  flex-direction: column;
  width: 80.3vw;
  margin: 0 auto;
  align-items: flex-end;
  padding-top: 100px;
}

.ImgHierarquia,
.ImgHierarquia img {
  width: 100%;
}

.HierarquiaContainer p {
  text-align: right;
  width: 41vw;
  font-size: 0.875rem;
  padding-top: 8px;
  color: white;
  opacity: 0.7;
}


/* HOVER DA PARTE ATRIBUTOS */

.bordertop {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border-top: 2px solid white;
  border-left: 2px solid white;
  top: 4.5%;
  left: 4.5%;
}

.borderbottom {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  bottom: 5.2%;
  right: 4.5%;
}

.SobreAImagem {
  background-color: rgba(164, 61, 47, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  padding: 9%;
}

.SobreAImagem h2 {
  text-transform: uppercase;
  color: white;
  width: 2%;
}

.SobreAImagem p {
  color: rgba(255, 255, 255, 0.6);
}

.CardImage h2 {
  font-size: 1vw;
}

.CardImage p {
  font-size: .675vw;
}


.SobreAImagem button {
  position: relative;
  width: 30%;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid rgb(253, 253, 253);
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.CardImage button {
  width: 36%;
}

.SobreAImagem button::after {
  content: "";
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: white;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0 0 25% 25%;
  transition: 0.5s ease-in;
  z-index: -1;
}

.SobreAImagem button:hover::after {
  transform: translate(-50%, 100%);
}

.SobreAImagem button:hover {
  color: black;
}

.PrimeiraImagem:hover .SobreAImagem {
  transform: scale(1.1);
  opacity: 1;
}

.CardImage {
  position: relative;
  width: 20vw;
}

.CardImage img {
  width: 100%;
}

.CardImage:hover .SobreAImagem {
  transform: scale(1.1);
  opacity: 1;
}

/* COMO JOGAR */

.ComoJogar {
  position: relative;
}

.StormDeCapa img {
  width: 27vw;
  position: absolute;
  top: -20vw;
  left: 8.875vw;
}

.buttons {
  display: flex;
  gap: 116px;
  justify-content: center;
  align-items: center;
  padding-left: 400px;
  padding-top: 97px;
}

.buttons h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.buttons button {
  background-color: black;
  color: white;
  padding: 10px 37px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 300;
}

.buttons div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.buttons p {
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
}

.linhabutton {
  height: 4.5px;
  width: 35%;
  background-color: black;
  margin: 0 auto;
}

footer {
  position: relative;
}

.ComoJogar {
  padding-bottom: 9vw;
}

.caixa-laranja {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff5a56;
  width: 62vw;
  padding-top: 4vw;
}

.caixa-laranja h2:first-child {
  color: white;
  text-transform: uppercase;
  line-height: 70px;
  font-size: 2rem;
  padding-bottom: 2vw;
}

.caixa-laranja p:nth-child(2) {
  width: 28vw;
  color: white;
  padding-bottom: 2vw;
}

.caixa-laranja p:last-child {
  width: 28vw;
  color: white;
  padding-block: 2vw;
}

.LogosSocialMedia {
  padding-bottom: 3vw;
}

.LogosSocialMedia img {
  width: 14vw;
}

.LineFooter {
  height: 2.5px;
  width: 47%;
  border: 2px solid #D74430;
  opacity: 1;
}

.StarWarsFonte {
  font-family: "Star Wars";
  font-size: 5vw;
  line-height: 4.25vw;
  color: white;
  padding-top: 3vw;
  letter-spacing: .2rem;
}


.VaderSemCapacete img {
  width: 39vw;
  position: absolute;
  left: 51.5vw;
  margin-top: -52vw;
}